<%- include("./includes/head") %>
<a href="/">
    <button>Go Home</button>
  </a>
    <div style="margin: 10px auto;">
        <h1 style="text-align: center;"><%= post.title %></h1>
        <img src="<%= post.imgUrl %>" alt="" style="margin: 0 auto; display: block;">
        <p><%= post.description %></p>
    </div>
    <form action="/admin/post/<%= post.id %>/delete" method="post">
        <button style="background: red; color: white; padding: 10px">
          Delete Post
        </button>
      </form>
      <a href="/admin/post-edit/<%= post.id %>"
        ><button style="background: black; color: white; padding: 10px">
          Update Post
        </button>
      </a>
<%- include("./includes/foot") %>
